# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.production.*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Database
database.sqlite
*.sql
*.db

# Logs
storage/logs/*.log
laravel.log

# Cache
bootstrap/cache/*.php
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Uploads
public/uploads/*
storage/app/public/*

# OS
.DS_Store
Thumbs.db

# Deployment
deploy.zip
*.zip